body {
    display: flex;
    flex-direction: column;
    font-family: Open Sans, Helvetica, sans-serif, monospace;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    
}

.header
{
    background-color: #0F233D;
    display: flex;
    flex-direction: column;
    padding-left: 400px;
    padding-right: 400px;
    min-height: 550px;
}


.header-menu{
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.header-logo {
    width: 50px;
    height: 50px;
    display: flex;
}

.header-links {
    display: flex;
    margin-left: auto;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    flex-wrap: wrap-reverse;
}

h1 {
    font-size: 48px;
    color: white;
    margin: 0px;
}

.white-paragraph {
    color: white;
    margin: 0px;
}

button {
    background-color: #007aca;
    padding: 3px, 8px;
    flex: 1;
}

.right-header-content {
    display: flex;
    margin-left: auto;
}