body {
    display: flex;
    flex-direction: column;
    font-family: Open Sans, Helvetica, sans-serif, monospace;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    
}

.header
{
    background-color: #0F233D;
    display: flex;
    flex-direction: column;
    padding-left: 400px;
    padding-right: 400px;
    min-height: 550px;
}


.header-menu{
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.header-logo {
    width: 50px;
    height: 50px;
    display: flex;
}

.header-links {
    display: flex;
    margin-left: auto;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

h1 {
    font-size: 48px;
    color: white;
    margin: 0px;
}

.white-paragraph {
    color: white;
    margin: 0px;
}

button {
    background-color: #007aca;
    padding: 3px, 8px;
    flex: 1;
    margin: 8px 0px;
}

.right-header-content {
    display: flex;
    margin-left: 60px;
    justify-self: flex-end;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.card-container {
    display: flex;
    gap: 24px;
}

.card {
    max-width: 150px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
}

.card-image {
    border: 5px solid #007aca;
    border-radius: 25px;
}

.card-text {
    text-align: center;
}

.quote-container{
background-color: gainsboro;
display: flex;
align-content: center;
justify-content: center;
padding: 50 0px;
}

.quote {
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
    max-width: 672px;
}