body {
    display: flex;
    flex-direction: column;
    font-family: Open Sans, Helvetica, sans-serif, monospace;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    
}

.header
{
    background-color: #0F233D;
    display: flex;
    flex-direction: column;
    padding-left: 400px;
    padding-right: 400px;
    min-height: 550px;
}


.header-menu{
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.header-logo {
    width: 50px;
    height: 50px;
    display: flex;
}

.header-links {
    display: flex;
    margin-left: auto;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.left-header-content {
    margin-right: 10px;
    flex-basis: 550px;
    color: white;
}

h1 {
    font-size: 48px;
    color: white;
    margin: 0;
}


button {
    margin: 8px 0px;
    color: white;
    border-radius: 5px;
    background-color: #007aca;
}

.right-header-content {
    display: flex;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.card-container {
    display: flex;
    gap: 24px;
}

.card {
    max-width: 150px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
}

.card-image {
    border: 5px solid #007aca;
    border-radius: 25px;
}

.card-text {
    text-align: center;
}

.quote-container{
background-color: gainsboro;
display: flex;
padding: 150px 0px;
flex-direction: column;
align-items: center;
}

.quote-card {
    max-width: 672px;
    margin: 0px;
}

.quote {
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
    margin: 0px;
    
}

.quoted {
    font-weight: bold;
    padding: 0px;
    flex-direction: row;
    flex: 1;
    font-size: 14px;
    text-align: right;
}

.cta-container {
    background-color: #007aca;
    width: 672px;
    padding: 40px 100px;
    display: flex;
    margin: 100px 0px;
    border-radius: 10px;
    justify-content: space-between;
    color: white;
}

.button-transp {
    background-color: transparent;
}

footer {
    margin-top: auto;
    background-color: #0F233D;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}